.App {
  text-align: center;
}

.navbar-nav{
  margin-left: auto;
}
.navbar-collapse span{
  color: #0c93fd;
  font-size: 14px;
  border-right: 1px solid rgba(0,0,0,.16);
  padding: 0 15px;
}
.navbar-collapse i{
  color: #0c93fd;
}
.navbar-expand-lg{
box-shadow: 0 6px 7px 0 hsla(0,0%,76.9%,.16);
z-index: 9;
background: #fff;
}
.react-tabs__tab {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 10px 10px 0 0;
  border-radius: 82px!important;
}
.react-tabs__tab {
  display: inline-block;
  border: 1px solid #aaa!important;
   border-bottom: 1px solid #aaa!important;
   margin-left: 10px!important;
   padding: 10px 20px!important;
}
.small-card{
  width: 200px;
  height: 100px;
    padding: 20px 15px 13.7px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 1px 7px 0 rgba(0,0,0,.1);
    background-color: #fff;
    position: sticky;
    top: 171px;
    margin-bottom: 20px;
}
.card-product-logo {
  border-radius: 4px;
  border: 1px solid #f0f0f0;
  padding: 4px 8px;
}
.mid-card{
    --round-border: 8px;
    background-color: #fff;
    border: 1px solid #dbe3e8;
    border-top-right-radius: var(--round-border);
    border-bottom-left-radius: var(--round-border);
    border-bottom-right-radius: var(--round-border);
}
.mid-card h5{
  font-size: 16px;
  padding: 8px 16px;
}
.mid-card p{
  font-size: 14px;
}
.mid-card span{
  white-space: nowrap;
}
.aed-yearly{
background-color: rgb(255, 74, 8);
color:white;
}
.fine-card{
  padding: 20px 19px;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 #d3e1ea;
    background-color: #fff;
    position: relative;
    width: 350px;
    height: 230px;
}
.outer{
  padding: 0px 35px;
  background-color: #fef2e8;
}